//詳細画面のメインページ
.main{
  background: #f8f8f8;
}
.showMain {
  padding: 40px;
  margin: 0 auto;
}
.contentLeftqq {
  margin: 0;
  padding: 0;
}
.contentRight {
  width: 700px;
  margin: 0 auto;
}
.topContent {
  margin: 0;
  padding: 0;
}
.itemBox {
  background-color: #fff;
  padding: 24px 40px 40px;
h2.itemBox__name {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
&__body {
  margin: 16px 0 0;
ul {
  display: flex;
  position: relative;
  object-fit: cover;
}
ul>li {
    display: flex;
    flex-direction: column;
    width: 560px;
    align-items: center;
    margin: 0 auto;
}
ul>li ul {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
ul>li ul li {
  width: 50%;
  margin: 0 10px 0 0;
}
}
&__price {
  margin: 24px 0 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
span{
  font-size: 46px;
  font-weight: bold;
  margin: 0 10px 0 0;
}
}
&__price-detail {
  font-size: 16px;
span {
  font-size: 16px;
}
}
} 
.itemDetail {
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 30px;
}
table , td, th {
	border: 1px solid #595959;
  border-collapse: collapse;
  width: 100%;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th {
  width: 20%;
  background-color: #eee;
  font-weight: 400;
  padding: 8px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}
td {
  width: 61%;
  padding: 15px 15px;
  border: 1px solid #dedede;
  font-size: 14px;
}
.color {
  text-decoration: none;
  color: #3CCACE;
}
.optionalArea {
  display: flex;
  justify-content: space-between;
   ul {
    margin: 10px 0 0;
    display: flex;
    li.likeBtn {
      margin-right: auto;
      padding: 6px 10px;
      border-radius: 40px;
      color: #3CCACE;
      border: 1px solid #ffb340;
   }
    li.optionalBtn {
      font-size: 14px;
      a{
        padding: 6px 10px;
        display: inline-block;
        border-radius: 4px;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
      }  
    }
  } 
}
.commentBox {
padding: 24px;
background-color: #fff;
margin: 10px 0;
text-align: center;
}
textarea#comment_body {
  width: 100%;
  min-height: 104px;
  padding: 10px;
}
.noticeMsg {
  padding: 8px;
  font-size: 14px;
  background-color: #f8f8f8;
  margin: 10px 0;
  text-align: left;
}
button.commentBtn {
  font-size: 18px;
  line-height: 48px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
}
.links li {
  float: left;
}
.links li:last-child {
  float: right;
}
.links li a {
  text-decoration: none;
  color: #3CCACE;
}
.relatedItems a {
  display: block;
  margin: 57px 0 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}