
.single-footer{
  .footer {
    background-color: transparent;
    padding: 60px 0;
    color: #888;
    ul.contents {
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      li.content {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;    
        h2.content__head {
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
          ul {
          list-style: none;
          }
        }
        a {
        color: #888;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
        }
      }
    }
  }
}
