.container
  %form.single-inner{action: "#", method: "POST", novalidate: "novalidate"}
    .log-out-content
      %button.btn-defaultbtn-red{type: "submit"} ログアウト
      %input{type: "hidden", name: "__csrf_value", value:"#"}