.inner
  %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
  %p.inner__text 今すぐ無料ダウンロード！
  .btn__ag
    .btn_a
      = link_to "#" do
        = image_tag('http___pluspng.com_img-png_download-on-app-store-png-open-2000 (1).png',width:175)
    .btn_g
      = link_to "#" do
        = image_tag('google-play-badge.png',width:195)