= render 'items/header'

%main.single-main
  .lsingle-container
    .item_box
      .item_box__item_title
        購入が完了しました！
    %hr
    .lsingle-container_done
      .lsingle-container_done__name
        = @item.name
      .lsingle-container_done__price
        ="¥#{@item.price}(送料込み)"
    %hr
    .lsingle-container_top-page
      =link_to root_path, class:"lsingle-container__top-page" do
        %p トップページへ
    

= render 'items/footer'