// 購入確認画面
main {
  display: block;
  padding: 0 0 40px;
}

.lsingle-container {
  background-color: white;
  width: 700px;
  margin: 0 auto;
}

.buy-content {
  padding: 24px 16px;
  max-width: 343px;
  margin: 0 auto;
}

.item_box {
  padding: 32px 16px;
  text-align: center;
  &__item_title {
    padding: 16px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
}

// 画像
.item-review {
  display: flex;
}

// 支払い金額
.payment-amount {
  width: 92%;
  justify-content: space-between;
  display: flex;
  &__title {
    line-height: initial;
    font-size: large;
  }
  &__amount{
    font-size: 30px;
    text-align: right;
  }
}

  
// 支払い方法
.buy-info {
  padding: 24px 0;
}

.submit-btn{
  width: 100%;
  .purchase {
    width: 400px;
    height: 60px;
    background-color: red;
    color: #fff;
    margin: 25px auto;
    text-align: center;
    line-height: 55px;
    font-size: 16px;
  }
}

.change {
  padding: 10px 0;
  margin: 0 auto;
}

// 購入完了画面
.lsingle-container_done {
  text-align: center;
  &__name {
    padding: 10px 0;
    font-size: x-large;
  }
  &__price {
    padding: 10px 0;
  }
}

.lsingle-container_top-page {
  text-align: center;
  padding: 10px 0;
}